h2 {
    color: #4aaaa5;
    font-family: Cambria, Georgia, serif;
    font-size: 30px;
    font-weight: bold;
}

.header {
    background-color: #ffffff;
    height: 80px;
    display: block;
}


body {
	background: url("../images/bg_pic2.jpg");
	background-size: cover; 
	margin: 0px;
}

.bottext {
    clear: both;
    line-height: 22px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#About {
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    width: 960px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
}

img {
    float: left;
}

#toptext {
    padding-left: 210px;
    line-height: 22px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#break {
    background-color: #dddddd;
    width: 940px;
    height: 3px;
}

.headerinfo {
	width: 1000px;
	margin: auto;
}

.name {
	height: 80px;
	width: 200px;
	background-color: #4aaaa5;
	float: left;
	text-align: center;
	color: #ffffff;
}
.click {
	float: right;
	border: none;
	font-size: 20px;
}

.tagbreak {
	width: 1px;
	height: 20px;
	background-color: #dddddd;
	margin: 5px 8px 8px;
	float: right;

}

a {
	text-decoration: none;
	color: grey;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.tab{
	padding-top: 20px;
}

.footer {
	position: fixed;
	width: 100%;
	background-color: #666666;
	height: 60px;
	bottom: 0px;
	left: 0px;
	border-top: solid #4aaaa5 5px;
}

.footerbreak {
    background-color: #4aaaa5;
    width: 100%;
    height: 3px;
}

.copyright {
	text-align: center;
	color: #dddddd;
	padding-top: 30px;
	font-size: 11px;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}










