/*style sheet for all*/

html {
	height: 100%;
	margin: 0px;
	height: 100%;
	padding: 0px;
}

body {
    background: url("../images/bg_pic2.jpg");
    background-size: cover;
    margin: 0px;
    padding: 0px;
    position: inherit;
    background-repeat: none;
}

h2 {
    color: #4aaaa5;
    font-family: Cambria, Georgia, serif;
    font-size: 30px;
    font-weight: bold;
}

img {
    float: left;
}

a {
    text-decoration: none;
    color: grey;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}


/*header style*/

.header {
    background-color: #ffffff;
    height: 80px;
    display: block;
}

.headerinfo {
    width: 1000px;
    margin: auto;
}

.name {
    height: 80px;
    width: 200px;
    background-color: #4aaaa5;
    float: left;
    text-align: center;
    color: #ffffff;
}

.click {
    float: right;
    border: none;
    font-size: 20px;
}

.tagbreak {
    width: 1px;
    height: 20px;
    background-color: #dddddd;
    margin: 5px 8px 8px;
    float: right;
}

.tab {
    padding-top: 20px;
}


/*main body*/

.bg {
	position: relative;
}

.container {
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    width: 960px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    margin-bottom: 30px;
}

.break {
    background-color: #dddddd;
    width: 940px;
    height: 3px;
}

/*end main body*/


/*end header style*/


/*end style sheet for all*/


/*style sheet for index.html*/

#toptext {
    padding-left: 210px;
    line-height: 22px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bottext {
    clear: both;
    line-height: 22px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/*end style sheet for index.html*/

/*style sheet for portfolio.html*/

.galleryimg {
	width: 250px;
	height: 215px;
	padding: 0px;
	margin: 0px;
}

.boxtext {
	position: absolute;
	height: 30px;
	width: 250px;
	background-color: #4aaaa5;
	text-align: center;
	color: #ffffff;
	padding-top: 8px;
	font-size: 20px;
	margin-top: 140px;
}

td {
	padding-right: 20px;
	padding-bottom: 20px;
}

table {
	margin: auto;
}

/*end style sheet for portfolio.html*/

/*style sheet for contact*/

.namebox {
	border: solid #dddddd 1px;
	height: 25px;
	width: 960px;
}

.contacttitle {
	color: grey;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.exampletext {
	color: grey;
	padding: 3px 8px;
	margin: 0px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#messagebox {
	border: solid #dddddd 1px;
	height: 200px;
	width: 960px;
}

#submit {
	height: 20px;
	width: 60px;
	background-color: #4aaaa5;
	text-align: center;
	padding: 5px 6px ;
	margin-top: 10px;
	color: #ffffff;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
}

/*end style sheet for contact.html*/


/*footer style*/

footer {
    width: 100%;
    background-color: #666666;
    height: 30px;
    border-top: solid #4aaaa5 5px;
    text-align: center;
    color: #dddddd;
    padding-top: 30px;
    font-size: 11px;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}


/*end footer style*/



















